<mat-toolbar color="primary">Wish List</mat-toolbar>
<div class="list-container">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				Me
			</mat-expansion-panel-header>

			<mat-list>
				<mat-list-item *ngFor="let item of myItems">
					<item-textarea class="item-text" placeholder="I want..." [(text)]="item.description" (textChange)="updateItem(item)"></item-textarea>
					<mat-icon class="my-delete-button" color="warn" (click)="deleteItem(item)">delete</mat-icon>
				</mat-list-item>
				<mat-list-item>
					<item-textarea class="item-text" placeholder="Add a new item here" [(text)]="newItem.description"></item-textarea>
				</mat-list-item>
				<mat-list-item>
					<button mat-raised-button (click)="addItem()" [disabled]="addingItem || !newItem.description">
						Save New Item
					</button>
				</mat-list-item>
			</mat-list>

		</mat-expansion-panel>

		<mat-expansion-panel *ngFor="let list of otherLists">
			<mat-expansion-panel-header>
				{{list['ownerName']}}
			</mat-expansion-panel-header>

			<mat-list>
				<mat-list-item *ngFor="let item of list['items']" class="their-item">
					<div matLine class="their-item-header">
						<span [innerHTML]="formatDescription(item.description)"></span>
					</div>
					<div matLine class="flex-container">
						<item-textarea class="item-text" placeholder="Add your comments here" [(text)]="item.buyerComments" (textChange)="updateItem(item)"></item-textarea>
						<button class="their-item-button" mat-raised-button (click)="markBought(item)" *ngIf="!item.buyerComments">
							<span class="their-item-wide">I Bought This</span>
							<mat-icon class="their-item-skinny">done</mat-icon>
						</button>
					</div>
				</mat-list-item>
			</mat-list>

		</mat-expansion-panel>
		
	</mat-accordion>
</div>
