*[hidden] {
	display: none !important;
}

body {
	margin: 0;
}

mat-toolbar {
	position: fixed;
	top: 0;
	z-index: 2;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
	color: white !important;
}

mat-expansion-panel-header {
	font-weight: bold !important;
}

.flex-container {
	display: flex !important;
}

.list-container {
	max-width: 1024px;
	margin: 84px auto 0 auto;
}

.item-text {
	flex: 1 1 auto;
}

.my-delete-button {
	flex: 0 0 auto;
	cursor: pointer;
}

.their-item {
	margin-bottom: 25px;
}

.their-item-button {
	flex: 0 0 auto;
	margin: 8px !important;
}

.their-item-header {
	white-space: normal !important;
	overflow: scroll !important;
	max-height: 2.5rem;
}

.fill-remaining-space {
	flex: 1 1 auto;
}

.secret-santa-panel {
	margin-bottom: 15px;
}

.santa-close-button {
	float: right;
}

@media(min-width: 420px) {
	.their-item-skinny { display: none !important; }
}
@media(max-width: 419px) {
	.their-item-wide { display: none !important; }
	.their-item-button {
		min-width: 40px !important;
		padding: 0 !important;
	}
	.mat-expansion-panel-body {
		padding: 5px !important;
	}
}